<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <a type="button" class="btn btn-primary mb-1" th:href="@{/create}">
        Добавить автомобиль
    </a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Идентификатор</th>
            <th scope="col">Марка</th>
            <th scope="col">Модель</th>
            <th scope="col">Категория</th>
            <th scope="col">Гос. номер</th>
            <th scope="col">Тип кузова</th>
            <th scope="col">Год выпуска</th>
            <th scope="col">Наличие прицепа</th>
            <th scope="col">Изменить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car: ${cars}">
            <td><b th:text="${car.getId()}"></b></td>
            <td th:text="${car.getBrand()}"></td>
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getCategory()}"></td>
            <td th:text="${car.getGovNumber()}"></td>
            <td th:text="${car.getType()}"></td>
            <td th:text="${car.getYear()}"></td>
            <td th:text="${car.getHasTrailer() ? 'Присутствует' : 'Отсутствует'}"></td>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a type="button" class="btn btn-primary" th:href="@{/update/{id}(id=${car.getId()})}">
                                Изменить
                            </a>
                        </div>
                        <div class="col">
                            <form action="#" method="post" th:action="@{/delete/{carId}(carId=${car.getId()})}">
                                <button type="submit" name="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <form th:action="@{/filter}" th:object="${filterRequestDto}" method="get">
        <div class="row">
            <div class="form-group col">
                <label for="inputBrand">Марка</label>
                <input type="text" id="inputBrand" class="form-control" th:field="*{brand}">
            </div>
            <div class="form-group col">
                <label for="inputModel">Модель</label>
                <input type="text" id="inputModel" class="form-control" th:field="*{model}">
            </div>
            <div class="form-group col">
                <label for="category">Категория</label>
                <select class="form-control" id="category" th:field="*{category}">
                    <option value="">Выберите категорию</option>
                    <option th:each="category : ${carCategories}"
                            th:value="${category}"
                            th:text="${category.getName()}">
                    </option>
                </select>
            </div>
            <div class="form-group col">
                <label for="inputNumber">Гос. номер</label>
                <input type="text" id="inputNumber" class="form-control" th:field="*{govNumber}">
            </div>
            <div class="form-group col">
                <label for="startDate">Год выпуска</label>
                <input id="startDate" class="form-control" type="date" th:field="*{year}"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Отфильтровать</button>
    </form>
</div>

<script type="text/javascript">

</script>
</body>
</html>