<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление записи</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <form class="row g-3" th:action="@{/create}" th:object="${carRequestDto}" method="post">
        <div class="form-group">
            <label for="brand">Марка</label>
            <input type="text" class="form-control" id="brand"
                   th:field="*{brand}" required>
        </div>
        <div class="form-group">
            <label for="model">Модель</label>
            <input type="text" class="form-control" id="model"
                   th:field="*{model}" required>
        </div>
        <div class="form-group">
            <div class="form-group blu-margin">
                <label for="category">Категория</label>
                <select class="form-control" id="category" th:field="*{category}" required>
                    <option th:each="category : ${carCategories}"
                            th:value="${category}"
                            th:text="${category.getName()}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="govNumber">Гос. номер</label>
            <input type="text" class="form-control" id="govNumber"
                   th:field="*{govNumber}" required>
        </div>
        <div class="form-group">
            <div class="form-group blu-margin">
                <label for="type">Тип кузова</label>
                <select class="form-control" id="type" th:field="*{type}" required>
                    <option th:each="type : ${carTypes}"
                            th:value="${type}"
                            th:text="${type.getName()}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group blu-margin">
                <label for="startDate">Год выпуска</label>
                <input id="startDate" class="form-control" type="date" th:field="*{year}" required/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
    </form>
</div>
</body>
</html>